.comment_element {
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.55);
    background-color: #212529;
}

.comment_element_dark {
    border-radius: 10px;
    color: #212529;
    background-color: rgba(255, 255, 255, 0.45);
}

.stars {
    color: rgb(255, 215, 0);
}

.action_icons {
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.action_icons:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.95);
}